:root {
  --color-fg: black;
  --color-bg: white;
  --emoji-mask: '🎭';
  --color-black: rgba(0,0,0,1);
  --color-white: rgba(255,255,255,1);
}

/**
 * The body needs to take up the whole viewport (at least).
 */
body {
  min-height: 100vh;
}
/**
 * The immediate child of the body needs to take up the whole viewport.
 */
body > * {
  display: grid;
  min-height: 100vh; /* should take up the whole viewport (at least) */
}

/**
 * The slide-show container.
 */
article {
  font-family: sans-serif; /* cleaner font by default */
  min-height: 100%; /* full height of the screen */
  display: grid; /* use grid to center content */
  align-content: center; /* center vertically */
  justify-content: center; /* center horizontally */
  overflow: hidden; /* hide other slides */
  transition: transform 0.1s linear; /* make expose/dropready look nicer */
  font-size: 1.8em; /* larger text than normal */
  color: var(--color-fg); /* black by default */
  background: var(--color-bg); /* white by default */
}

/**
 * Shown when there's no slideshow
 */
article:empty { /* nothing special... */ }
article:empty::before {
  content: var(--emoji-mask); /* a mask emoji */
  font-size: 8em; /* very large */
  text-shadow: var(--color-black) 0 0 3px; /* with some shadows */
  display: block; /* not inline, since we want to center it */
  margin: auto;  /* center horizontally */
}
article:empty::after {
  content: 'Drop a markdown file here.'; /* explanatory text */
}

/**
 * An exposed article. This needs some work. The class is toggled on a
 * keypress of 'Escape'.
 */
article.exposed {
  outline: dashed grey;
  transform: scale(0.5);
}

/**
 * A drop-ready article. Needs some work, but functions well enough. The class
 * is set on dragenter and removed on dragleave.
 */
article.dropready {
  transform: scale(0.95);
  outline: dashed grey;
}

/**
 * Visibility rules within the article.
 */
article > * { display: none; /* hide everything... */ }
article > section { display: inherit; /* but display slides. */ }
article > *[hidden] { display: none; /* unless they're hidden */ }

/**
 * A slide.
 */
article > section {
  box-sizing: border-box; /* calculate margins within the box */
  padding: 1em; /* give some space at the sides */
  max-width: 100%;
}

/**
 * Hacks for floating images based on their alt text
 */
img { max-width: 80vw; max-height: 30vh; }
img[alt$="→"] { float: right; margin: 1em 0 1em 1em; }
img:first-child { margin-top: 0; }
img:last-child { margin-bottom: 0; }
img[alt$="←"] { float: left; margin: 1em 1em 1em 0; }

/**
 * Preformatted text...
 */
pre {
  padding: 1em;
  margin: auto;
  width: min-content;
  font-size: 1rem;
  border: 1px solid silver;
  background-color: rgba(30, 30, 30, 0.2);
}

blockquote {
  font-family: serif;
  font-size: 0.9em;
  display: block;
  padding: 1em;
  margin: 1em;
  text-align: center;
  color: silver;
}

a { color: inherit; }

h1, h2, h3, h4, p { text-align: center; margin: 1em auto; }
h2 + p>img {}

ul, ol { margin: auto; max-width: 80%; }
li { margin: 0.5em auto; }

p:first-child:last-child {
  width: 100%;
  height: 100%;
}
p:first-child:last-child > *:first-child:last-child {
  max-width: 100%;
  max-height: 100%;
}
